node_modules/
.DS_Store
.env
dist
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
coverage
lib-cov
*.tgz
.cache
.parcel-cache
.next
out
build
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*~
.project
.classpath
.c9/
*.launch
.settings/
*.tmproj
*.esproj
*.suo